%aside.banner
  .banner__image
    .banner__image__link
      %img{:alt => "", :height => "270", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?863303983"}
      .banner__image__link__text
        "スマホでかんたんフリマアプリ"
        .banner__image__link__text__text2
          "今すぐ無料ダウンロード！"