%aside.banner
  .banner__content
    .banner__content__link
      %img.banner__content__link__image{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}
      .banner__content__link__text
        "スマホでかんたんフリマアプリ"
        .banner__content__link__text__text2
          "今すぐ無料ダウンロード！"