%footer.global-footer
  %nav.sitemap
    .footer-cell
      %h2.footer-cell__head メルカリについて
      %ul.footer-cell__list
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="") 会社概要(運営会社)
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="") 採用情報
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="") プレスリリース
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="") 公式ブログ
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="") メルカリロゴ利用ガイドライン
        %li.footer-cell__list__social-link
          %a.footer-cell__list__social-link__link(href="")
            = fa_icon 'twitter'
        %li.footer-cell__list__social-link
          %a.footer-cell__list__social-link__link(href="")
            = fa_icon 'facebook-square'
    .footer-cell
      %h2.footer-cell__head ヘルプ＆ガイド
      %ul.footer-cell__list
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
        %li.footer-cell__list__item
          %a.footer-cell__list__item__link(href="")
    .footer-cell.footer-cell--full-width
      %h2.footer-cell__head プライバシーと利用規約
      .footer-cell-wrapper
        %ul.footer-cell__list
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
      .footer-cell-wrapper
        %ul.footer-cell__list
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
          %li.footer-cell__list__item
            %a.footer-cell__list__item__link(href="")
    .footer-cell.footer-cell--nav-lang
