
  <div class='header'>
    <div class='header__top'>
      <div class='header__top__logo'></div>
      <div class='header__top__box'>
        <form class='header__top__box__form'>
          <input class='sp-header-search input-default'>
          <i class='icon-search'></i>
        </form>
      </div>
    </div>
  </div>
