<div class='wrapper__head'>
  <div class='header'>
    <div class='header__top'>
      <div class='header__top__logo'>
        <a class="header__top__logo__link" href="/items">
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="mercari" class="header__top__logo__link__image"/>
        </a>
      </div>
    
        <form class='header__top__box'>
          <input class='header__top__box__input'>
          <button type="submit" class="header__top__box__button">
            <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="sc-jDwBTQ sc-bMVAic hxYxiW">
              <path fill="currentColor" fill-rule="nonzero" d="M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z">
              </path>
            </svg>
          </button>
        </form>
  
    </div>
    <div class='header__bottom'>
      <div class='header__bottom__left'>
        <div class='header__bottom__left__category'>
        </div>
        <div class='header__bottom__left__brand'>
        </div>
      </div>
      <div class='header__bottom__right'>
        <div class='header__bottom__right__signup'>
        </div>
        <div class='header__bottom__right__login'>
        </div>
      </div>
    </div>
  </div>
</div>