%body
  = render 'partial/header'
  %header
    %ol.progress
      %li.progress__box
        会員情報
        .progress__status
      %li.progress__box
        電話番号認証
        .progress__status
      %li.progress__box
        お届け先住所入力
        .progress__status
      -# %li.progress__box
      -#   支払い方法
      -#   .progress__status
      %li.progress__box.active
        完了
        .progress__status
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__header 会員登録完了
      .single-main__container__msg
        %p
          ありがとうございます。
          %br>/
          会員登録が完了しました。
      %button.btn-default.btn-red{:type => "submit"}
        = link_to'メルカリをはじめる',root_path
  = render 'partial/footer'
