<%=render 'partial/header'%>
<header>
  <ol class="progress">
    <li class="">
      会員情報
      <div class="progress__status"></div>
    </li>
    <li class="">
      電話番号認証
      <div class="progress__status"></div>
    </li>
    <li class="">
      お届け先住所入力
      <div class="progress__status"></div>
    </li>
    <li class="">
      支払い方法
      <div class="progress__status"></div>
    </li>
    <li class="active">
      完了
      <div class="progress__status"></div>
    </li>
  </ol>
</header>
<main class='single-main'>
  <section class='single-main__container'>
    <h2 class='single-main__container__header'>支払い方法</h2>
    <div class="single-main__container__msg">
      <p>ありがとうございます。<br>会員登録が完了しました。</p>
    </div>

    <button type="submit" class="btn-default btn-red">
      <%=link_to'メルカリをはじめる',''%>
   </button>
  </section>
</main>
<%=render 'partial/footer'%>