.single-container
  = render 'partial/header'
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__header 新規会員登録
      .single-main__container__inner
        .single-main__container__inner__content
          %a.btn-default.btn-mail{:href => "https://www.mercari.com/jp/signup/registration/"}
            %i.icon-mail
            メールアドレスで登録
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.icon-facebook
            Facebookで登録
          %button#google-login.btn-default.btn-sns.btn-sns-google
            Googleで登録
  = render 'partial/footer'
