
<div class='single-container'>
  <div class='single-header'>
    <h1 class='single-header__logo'>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763" alt="mercari">
      </a>
    </h1>
  </div>
  <main class='single-main'>
    <section class='single-main__container'>
      <h2 class='single-main__container__header'>新規会員登録</h2>
      <div class='single-main__container__inner'>
        <div class='single-main__container__inner__content'>
          <a href="https://www.mercari.com/jp/signup/registration/" class="btn-default btn-mail">
          <i class="icon-mail"></i>
          メールアドレスで登録
          </a>
          <button id="facebook-login" class="btn-default btn-sns btn-sns-facebook">
            <i class="icon-facebook"></i>
            Facebookで登録
          </button>
          <button id="google-login" class="btn-default btn-sns btn-sns-google">
            Googleで登録
          </button>
        </div>
      </div>
    </section>
  </main>
  <footer class='single-footer'>
    <nav>
      <ul class='single-footer__menu'>
        <li class='single-footer__menu__content'>
          <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
        </li>
        <li class='single-footer__menu__content'>
          <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
        </li>
        <li class='single-footer__menu__content'>
          <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
        </li>
      </ul>
      <a href="https://www.mercari.com/jp/" class="single-footer-logo">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763" alt="mercari" width="80" height="65">
          </a>
      <p class='footer-century'>
        <small>© 2019 Mercari</small>
      </p>
    </nav>
  </footer>
</div>
