.modal-inner
  %div
    %h3.modal-head 商品の発送を通知しました
    .sell-modal-body
      購入者の受取確認と評価をしばらくお待ちください
      %p.text-center
        = link_to 'マイページへ', mypages_path, class: 'btn-default.btn-red', id: 'red-link'
