%nav.breadcrumbs
  = breadcrumbs pretext: "", separator: " &rsaquo; ", class: "breadcrumbs"

-# 本家の参考例
  %nav.bread-crumbs.pos-bottom
    %ul
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
          %span{:itemprop => "title"} メルカリ
        %i.icon-arrow-right
      %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
        %span{:itemprop => "title"} マウンテンパーカー ジャケット パタゴニア 