%ul.category_choice-menu
  %li.category_choice__box
    %a.category_choice__box__text(href="#")レディース
    %ul.category_choice-sub
      %li.category_choice__box
        %a.category_choice__box__text(href="") トップス
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="") Tシャツ
          %li.category_choice__box
            %a.category_choice__box__text(href="") ポロシャツ
          %li.category_choice__box
            %a.category_choice__box__text(href="") タンクトップ
      %li.category_choice__box
        %a.category_choice__box__text(href="") ジャケット・アウター
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="") テーラードジャケット
          %li.category_choice__box
            %a.category_choice__box__text(href="") ポンチョ
          %li.category_choice__box
            %a.category_choice__box__text(href="") トレンチコート
      %li.category_choice__box
        %a.category_choice__box__text(href="") パンツ
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="") デニム
          %li.category_choice__box
            %a.category_choice__box__text(href="") ジーンズ
          %li.category_choice__box
            %a.category_choice__box__text(href="") ショートパンツ
  %li.category_choice__box
    %a.category_choice__box__text(href="#") メンズ
    %ul.category_choice-sub
      %li.category_choice__box
        %a.category_choice__box__text(href="")トップス
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")Tシャツ
          %li.category_choice__box
            %a.category_choice__box__text(href="")ポロシャツ
          %li.category_choice__box
            %a.category_choice__box__text(href="")タンクトップ
      %li.category_choice__box
        %a.category_choice__box__text(href="")ジャケット・アウター
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")テーラードジャケット
          %li.category_choice__box
            %a.category_choice__box__text(href="")Pコート
          %li.category_choice__box
            %a.category_choice__box__text(href="")モッズコート                    
      %li.category_choice__box
        %a.category_choice__box__text(href="")パンツ
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")デニム
          %li.category_choice__box
            %a.category_choice__box__text(href="")ジーンズ
          %li.category_choice__box
            %a.category_choice__box__text(href="")ショートパンツ
  %li.category_choice__box
    %a.category_choice__box__text(href="#")ベビー・キッズ
    %ul.category_choice-sub
      %li.category_choice__box
        %a.category_choice__box__text(href="")キッズ靴
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")スニーカー
          %li.category_choice__box
            %a.category_choice__box__text(href="")サンダル
          %li.category_choice__box
            %a.category_choice__box__text(href="")ブーツ
      %li.category_choice__box
        %a.category_choice__box__text(href="")おもちゃ
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")ガラガラ
          %li.category_choice__box
            %a.category_choice__box__text(href="")オルゴール
          %li.category_choice__box
            %a.category_choice__box__text(href="")ジャングルジム
      %li.category_choice__box
        %a.category_choice__box__text(href="")行事・記念品
        %ul.category_choice-sub
          %li.category_choice__box
            %a.category_choice__box__text(href="")お宮参り品
          %li.category_choice__box
            %a.category_choice__box__text(href="")アルバム
          %li.category_choice__box
            %a.category_choice__box__text(href="")手形・足形
  %li.category_choice__box
    %a.category_choice__box__text(href="")その他