%footer.single-footer
  %nav
    %ul.single-footer__menu
      %li.single-footer__menu__content
        %a{href: ""} プライバシーポリシー
      %li.single-footer__menu__content
        %a{href: ""} メルカリ利用規約
      %li.single-footer__menu__content
        %a{href: ""} 特定商取引に関する表記
    %a.single-footer__logo{href: "/items"}
      %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763", :width => "80"}/
    %p.single-footer-century
      %small © 2019 Mercari
