<div class='single-header'>
    <h1 class='single-header__logo'>
      <a href="https://www.mercari.com/jp/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763" alt="mercari">
      </a>
    </h1>
  </div>