.single-header
  %h1.single-header__logo
    %a{:href => "/items"}
      = image_tag 'mercari_sell_header_logo.svg', alt: 'mercari'
      -# %img{:alt => "mercari", :src => "mercari_sell_header_logo.svg"}/