.display
  = link_to sell_index_path , class: "display__link" do
    .display__link__button
      .display__link__button__text
        出品
      .display__link__button__mark
        = fa_icon 'camera 3x'