= render 'devise/shard/header'
%main.mypage-conteiner
  = render 'sindemenu'
  .mypage-counrenr
    .mypage-content__box
      %h2.myapge-content__box__header　支払い方法
      .mypage-content__box__form-froup
        %p クレジットカード一覧
        
