<main class="mypage-container">
  <!-- サイドメニュー -->
  <div class="mypage-side-menu">
    <nav class="mypage-navi">

      <ul class="mypage-navi-list">
        <li><a href="" class="navi-item">マイページ<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">お知らせ<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">やることリスト<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">いいね！一覧<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">出品する<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">出品した商品 - 出品中<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">出品した商品 - 取引中<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">出品した商品 - 売却済み<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">購入した商品 - 取引中<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">購入した商品 - 過去の取引<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">ニュース一覧<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">評価一覧<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">ガイド<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">お問い合わせ<i class="navi-item__icon-arrow"></i></a></li>
      </ul>

      <h3 class="navi__head">設定</h3>
      <ul class="navi-list">
        <li><a href="" class="navi-item">プロフィール<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">発送元・お届け先住所変更<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">支払い方法<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">メール/パスワード<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">本人情報<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">電話番号の確認<i class="navi-item__icon-arrow"></i></a></li>
        <li><a href="" class="navi-item">ログアウト<i class="navi-item__icon-arrow"></i></a></li>
      </ul>

    </nav>
  </div>
  <!-- メインコンテンツ -->
  <div class="mypage-content">
    <!-- ユーザー -->
    <section class="mypage__user">
      <a href="">
        <figure class="user__icon">
          <!-- ユーザーアイコン -->
          <img src="" alt="" width="60" height="60">
        </figure>
        <h2 class="user__name--bold">user_name</h2>
        <div>
          <div>評価 <span class="user__reviewe--bold">0</span></div>
          <div>出品数 <span class="user__listings--bold">0</span></div>
        </div>
      </a>
    </section>

    <!-- お知らせ/やることリスト -->
    <section class="tab-container">
      <!-- タブ -->
      <ul class="mypage-tab">
        <li class="mypage-tab__item--active"><h3><a href="">お知らせ</a></h3></li>
        <li class="mypage-tab__item"><h3><a href="">やることリスト</a></h3></li>
      </ul>
      <div class="mypage-list-items">
        <!-- リスト:お知らせ -->
        <ul id="mypage-tab-notification" class="mypage-item-list">
          <li class="mypage-item">
            <a href="" class="mypage-item__link">
              <figure><img src="" alt=""></figure>
              <div class="mypage-item__body">
                <div class="mypage-item__text">事務局から個別メッセージ「Googleログイン通知」</div>
                <time><i class="mypage-item__icon-time"></i><span>27秒前</span></time>
                <i class="mypage-item__icon-arrow"></i>
              </div>
            </a>
          </li>
          <li class="mypage-item--more">
            <a href="">一覧を見る</a>
          </li>
        </ul>
        <!-- リスト:やることリスト -->
        <ul id="mypage-tab-todolist" class="mypage-item-list">
          <li class="mypage-item--not-found">現在、やることリストはありません</li>
        </ul>
      </div>
    </section>

    <!-- 購入した商品(取引中/過去の取引) -->
    <section class="tab-container">
      <h2>購入した商品</h2>
      <!-- タブ -->
      <ul class="mypage-tab">
        <li class="mypage-tab--active"><h3><a href="">取引中</a></h3></li>
        <li><h3><a href="">過去の取引</a></h3></li>
      </ul>
      <div>
        <!-- リスト -->
        <ul>

        </ul>
      </div>
    </section>
  </div>
</main>
