= render 'devise/shared/header'
%main.mypage-container
  = render 'sidemenu'
  .mypage-content
    .mypage-content__box
      %h2.mypage-content__box__header 完了
      .mypage-content__box__form-group
      %p.text-center　確認済みです 
= render 'devise/shared/footer'