%section.item-box
  = link_to item_path(item.id), class: 'item-box__link' do
    %figure.item-box__link__photo
      = image_tag item.image.url, class: 'item-box__link__photo__img'
    .item-box__body
      %h3.item-box__body__name (商品名)
      .item-box__body__num
        .item-box__body__num__price ¥3,000
        .item-box__body__num__like
          = fa_icon 'heart-o', class: 'item-box__body__num__like__icon'
          %span 1