.category-index-wrapper {
  width: 80%;
  margin: 0 auto;
  .parent-category {
    margin-bottom: 2rem;
    a {
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: black;
      text-decoration: none;
    }
    &__header {
      font-size: 2rem;
      font-weight: bold;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      &--btn {
        background-color: white;
        padding: 1rem;
        margin: 0.1rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
      &--btn:hover {
        background-color: rgb(234, 53, 45);
        color: white;
      }
    }
  }

  .category-wrapper {
    background-color: white;
    margin-bottom: 1rem;
    a {
      color: #0099e8;
      text-decoration: none;
    }
    a:visited {
      color: #0099e8;
      text-decoration: none;
    }
    &__title {
      background-color: rgb(234, 53, 45);
      color: white;
      font-size: 1.5rem;
      padding: 0.5rem 0;
      padding-left: 2rem;
      font-weight: bold;
    }
    &__all {
      color: lightblue;
      padding: 2rem;
      padding-bottom: 0;
    }
    &__child {
      padding: 1rem;
      &--title {
        font-weight: bold;
        padding: 1rem;
      }
      &--subchildren {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        &-subchild {
          width: 40%;
          margin-left: 1rem;
          color: lightblue;
        }
      }
    }
  }
}

.show-margin {
  height: auto;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.category-show-wrapper {

  
  &__category-name {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
  }
  .itemBox {
    max-width: 700px;
    padding: 42px 20px;
    .main__popularities__items__onecategorylist {
      &__boxes{
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 20px;
        display: grid;
        &__onebox {
          visibility: visible;
          transition: all 0.5s ease 0s;
          opacity: 1;
          &__link {
            width: 100%;
            cursor: pointer;
            display: inline-block;
            position: relative;
            text-decoration: none;
            vertical-align: top;
            &__figure {
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo,
                sans-serif;
              width: 100%;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              background-color: #fff;
              -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
              -webkit-box-orient: vertical;
              -webkit-box-direction: reverse;
              -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
              margin: 0;
              overflow: hidden;
              z-index: 0;
              figurecaption {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #222;
                font-size: 14px;
                height: 64px;
                line-height: 1.4em;
                padding: 0 12px;
                white-space: normal;
                word-break: break-word;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                span {
                  display: inline-block;
                  height: 2.8em;
                  overflow: hidden;
                  position: relative;
                  background: linear-gradient(
                    90deg,
                    hsla(0, 0%, 100%, 0),
                    #fff 72%
                  );
                  bottom: 0;
                  content: "";
                }
              }
              &__image {
                height: 0;
                overflow: hidden;
                padding: 0 0 100%;
                position: relative;
                width: 100%;
                span {
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  background: rgba(0, 0, 0, 0.4);
                  border-radius: 0 14px 14px 0;
                  bottom: 8px;
                  -webkit-box-sizing: border-box;
                  box-sizing: border-box;
                  color: #fff;
                  display: -webkit-inline-box;
                  display: -ms-inline-flexbox;
                  display: inline-flex;
                  font-size: 17px;
                  height: 32px;
                  height: 28px;
                  letter-spacing: 0.02em;
                  margin: 0;
                  padding: 0 12px;
                  position: absolute;
                  z-index: 2;
                }
                img {
                  position: relative;
                  width: 124px;
                  height: auto;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                  border: 1px solid darkgray;
                }
              }
            }
          }
        }
      }
    }
  }
}

#header-category-list-wrapper {
  display: flex;
  position: absolute;
  background-color: white;
  z-index: 1000;
  margin-top: 38px;
  .categories {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
}

