.mypage-container {
  @include clearfix();
  width: 1024px;
  margin: 40px auto 0;
  padding: 0 0 40px;
}

.mypage-side-menu {
  float: left;
  width: 280px;
}

.mypage-content {
  float: right;
  width: 700px;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.mypage-navi {
  display: block;

  &__head {
    margin: 40px 0 8px 0;
    font-size: 16px;
  }
}

.mypage-navi-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navi-item {
  border-top: 1px solid #eee;
  $selector: #{&};

  &--first {
    border: 0;
  }

  &__link {
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-decoration: none;

    &--active {
      background-color: #eee;
      font-weight: 600;

      &:hover {
        background: #eee;
        text-decoration: none;
        opacity: 1;
      }
    }

    &:hover {
      background-color: #fafafa;
      text-decoration: none;
      opacity: 1;
      #{$selector}__icon-arrow {
        -webkit-transform: translate(4px, -50%);
        transform: translate(4px, -50%);
        color: #333;
      }
    }
  }

  &__icon-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    color: #ccc;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all ease-out .2s;
    transition: all ease-out .2s;

    &--active {
      color: #333;
    }
  }
}

.mypage-user {
  position: relative;
  height: 200px;
  padding: 20px;
  background: image-url("user-bg.jpg");
  text-align: center;

  &__link {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #333;
  }

  &__icon {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }

  &__name {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
  }

  &__status {
    margin: 8px 0 0;
    font-size: 0;

    &__number {
      margin: 0 0 0 8px;
      font-size: 16px;
    }

    &__review {
      display: inline-block;
      font-size: 14px;
    }

    &__listings {
      display: inline-block;
      font-size: 14px;
      margin: 0 0 0 16px;
    }
  }
}

.mypage-tab-container-notification-todo {
  margin: 0;
  background-color: #fff;
}

.mypage-tab-container {
  &:nth-of-type(1) {
    margin: 0;
  }
  margin: 40px 0 0;
  background: #fff;
}

.mypage-tab-header {
  padding: 0 4%;
  background: #fafafa;
  font-size: 16px;
  line-height: 72px;
}

.mypage-tab {
  border: 0;
  background-color: #eee;
  font-size: 0;
  list-style: none;

  &__item {
    $selector: #{&};
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    &--active {
      background-color: #fff;

      #{$selector}__link {
        border-top: 2px solid #ea352d;
      }
    }

    &__head {
      font-size: 22px;
    }

    &__link {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
    }
  }
}

.mypage-listing-tab {
  border: 0;
  background-color: #eee;
  font-size: 0;
  list-style: none;

  &__item {
    $selector: #{&};
    width: 33.3%;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    &--active {
      background-color: #fff;

      #{$selector}__link {
        border-top: 2px solid #ea352d;
      }
    }

    &__head {
      font-size: 22px;
    }

    &__link {
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
    }
  }
}

.mypage-item-list {
  display: none;

  &--active {
    display: block
  }
}

.mypage-li-wrapper {
  position: relative;
  border-bottom: 1px solid #eee;

  &:last-child {
    border: 0;
  }

  &--not-found {
    border: 0;
    padding: 160px 0 60px;
    background: image-url("logo-gray-icon.svg");
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 78px 85px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
  }
}

.mypage-li {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;

  &:hover {
    background-color: #fafafa;
    opacity: 1;
    text-decoration: none;
  }

  &__figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    float: left;
    width: 48px;
    height: 48px;

    &__img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
  }

  &__body {
    margin: 0 40px 0 68px;

    &__text {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      max-height: 4.4em;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      line-height: 1.5;
    }

    &__time {
      display: inline-block;
      color: #888;

      &__icon {
        margin: 0 8px 0 0;
        font-size: 16px !important;
        vertical-align: middle;
      }

      &__text {
        vertical-align: middle;
      }
    }

  }

  &__icon-arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.mypage-li-more {
  padding: 16px;

  &__link {
    display: block;
    height: 56px;
    margin: 0 auto;
    background-color: #eee;
    color: #333;
    line-height: 56px;
    text-align: center;
  }
}

// personal_infomation
.mypage-content__box {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 70px 70px 64px;
  &--no-space {
    padding: 0 0 50px 0;
  }
  &__header{
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
  }
  &__text{
    font-size: 12px;
  }
  &__form-group{
    max-width: 343px;
    margin: 0 auto;
    padding: 20px 16px 8px;
    font-size: 12px;

    &__requier {
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      background-color: #ea352d;
      display: inline;
      vertical-align: middle;
    }

    &__any{
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      background-color: #979797;
      display: inline;
      vertical-align: middle;
    }
    &__input-form {
      width: 100%;
      padding: 10px 0px 8px 0px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      display: block;
    }

  }
  &__text-form-group{
    width: 100%;
    height: 160px;
    padding: 20px 16px 8px;
    font-size: 12px;

  }

}
.mypage-content__profile{
  background: image-url("user-bg.jpg");
  height: 156px;

  &__box{
    text-align: center;
    padding-top: 40px;

    &__icon{
      margin: 0 auto;
      border-radius: 50%;
    }

    &__form {
      margin: 0 auto;
      width: 20%;
      font-size: 15px;
      margin-left: 10px;

    }
  }
}

.mypage-content-input-profile{
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin: 36px 0px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

.text-center {
  text-align: center;
}
.edit_address {
  padding-top: 70px;
}

.mypage-history-pager {
  margin: 40px 0 0;
  height: 44px;
  position: relative;
  font-size: 0;
  text-align: center;

  &__item {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 42px;
    position: absolute;
    top: 0;
    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &__link {
      display: block;
      color: #333;
      cursor: pointer;

      &:hover {
        opacity: 1;
        background: #f5f5f5;
        text-decoration: none;
      }

      &__icon {
        position: relative;
        top: 0.15em;
      }
    }
  }
}
