@import "mixin/common";

.mypage-container {
  @include clearfix();
  width: 1024px;
  margin: 40px auto 0;
}

.mypage-side-menu {
  float: left;
  width: 280px;
}

.mypage-content {
  float: right;
  width: 700px;
}

.mypage-navi {

}

.mypage-navi-list {

}

.navi-item {

}

.navi-item__icon-arrow {

}
