.single-container {
  overflow: visible;
  margin: 0;
  padding: 0;

}

.single-header {
  height: 120px;
  margin: 0 auto;


  &__logo {
    width: 185px;
    height: 49px;
    margin: 0 auto;
    text-align: center;
  }
}

.single-main {
  display: block;

  &__container {
    width: 700px;
    margin: 0 auto;
  

    &__header {
      padding: 32px;
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
      
    }
  }  
}



.single-footer {
  width: 456px;
  height: 256px;
  margin: 0 auto;
  text-align: center;



  &__menu {
    text-align: center;

  }

}

