.single-container {
  overflow: visible;
  margin: 0;
  padding: 0;

}

.single-header {
  height: 120px;
  margin: 0 auto;


  &__logo {
    width: 185px;
    height: 49px;
    margin: 40px;
    text-align: center;
  }
}

.single-main {
  width: 700px;
  margin: 0 auto;
}