

.single-header {
  height: 120px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(245, 245, 245);


  &__logo {
    width: 185px;
    height: 49px;
    margin: 40px 0 0;
    text-align: center;
    display: inline-block;
  }
}
.progress {
  display: flex;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(245, 245, 245 );
  justify-content: center;


  &__box {
    padding:30px 40px;
  }

  &__status {
    width: 12px;
    height: 12px;
    margin: 8px auto 0;
    background: #ccc;
    border-radius: 50%;
    
  }
}
.active .progress__status{
  background-color: #ea352d;
}

.single-main {
  display: block;
  background-color: rgb(245, 245, 245);
  width: 100% ;
  margin: 0 auto;
  height: 100%;

  &__container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 90px;
    padding-bottom: 50px;
  

    &__header {
      padding: 32px;
      font-size: 22px;
      margin: 0 auto;
      text-align: center;
    }

    &__form-group {
      max-width: 343px;
      margin: 0 auto;
      padding: 10px 16px 8px;

      &__requier {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        background-color: #ea352d;
        display: inline;
        vertical-align: middle;
      }
      &__any {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        background-color: #979797;
        display: inline;
        vertical-align: middle;
      }

      &__input-form {
        width: 100%;
        padding: 10px 0px 8px 0px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        display: block;
      }

      &__input {
        display: flex;
    
        &__herf {
          display: inline-block;
          width: 100%;
          padding: 10px 0px 8px 0px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
    } 
    &__msg {
      text-align: center;
      
    } 
  }  

  &__log-in {
    width: 456px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 20px;

    &__header {
      text-align: center;
      padding-top: 50px;
    }

    &__form-group {
      max-width: 343px;
      margin: 0 auto;
      padding: 10px 16px 8px;

      &__input-form {
        width: 100%;
        padding: 10px 0px 8px 0px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
     
      }
    }
  }
}
.text-right {
  text-align: right
}



.single-footer {
  height: 220px;
  margin-top: auto;
  text-align: center;
  background-color: rgb(245, 245, 245);
 

  &__menu {
    text-align: center;
    color: #333;

    &__content {
      font-size: 12px;
      display: inline-block;

      &__header {
        margin: 0 5px;
        color: black;
      }
    }
  }


  &__logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    display: block;
    color: #333;
  }

  &__century {
    color: #333;
    font-size: 13px;
  }
}

.btn-default {
  display: block;
  width: 343px;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

}
.btn-mail {
  color: #fff;
  background-color: #ea352d;
}
.log-in {
  background: #0099e8;
  color: #fff;
  margin-bottom: 70px;
  
}

.btn-sns-facebook {
  
  background: #385185;
  color: #fff;
}

.btn-sns-google {
  
  background: #fff ;
  border: #979797 solid 1px;
  color: #333;
}



.label {
font-weight: 600;
display: inline-block;
vertical-align: middle;
}


.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  margin-top: 20px;
}
